@charset "utf-8";

@import "colors";
@import "env_include";

// Typography
//
// These variables will have all the text specific items

// Text font path for font styles light, light italic, regular, italic, bold and bold italic
@debug "$env is #{$env}";

$base-font-regular-url:                 "/assets/fonts/text/MetricNEW-Web-Regular";
$base-font-italic-url:                  "/assets/fonts/text/Roboto-Italic";
$base-font-semibold-url:                "/assets/fonts/text/MetricNEW-Web-Semibold";
$base-font-semibold-italic-url:         "/assets/fonts/text/Roboto-MediumItalic";
$base-font-bold-url:                    "/assets/fonts/text/MetricNEW-Web-Bold";
$base-font-bold-italic-url:             "/assets/fonts/text/Roboto-BoldItalic";

// *****************************************
// Temporary Addion of Metric Font
// *****************************************
// This section need to refactored while migrating the entire app to Metric New
$mf-font-regular-url:                   "/assets/fonts/text/MetricNEW-Web-Regular";
$mf-font-semibold-url:                  "/assets/fonts/text/MetricNEW-Web-Semibold";
$mf-font-bold-url:		                "/assets/fonts/text/MetricNEW-Web-Bold";


// End of Revamping Section

// Icon font path
$icon-font-url:                         "/assets/fonts/icon/pamicons";

@if $env == "production"
{
$base-font-regular-url:                 "/scm" + $base-font-regular-url;
$base-font-italic-url:                  "/scm" + $base-font-italic-url;
$base-font-semibold-url:                "/scm" + $base-font-semibold-url;
$base-font-semibold-italic-url:         "/scm" + $base-font-semibold-italic-url;
$base-font-bold-url:                    "/scm" + $base-font-bold-url;
$base-font-bold-italic-url:             "/scm" + $base-font-bold-italic-url;

// Icon font path
$icon-font-url:                         "/scm" + $icon-font-url;
}

// Base font family
$base-font-family:                      "Metric", "Roboto", Helvetica, Arial, sans-serif;
$mf-font-family:                      	"Metric", "Roboto", Helvetica, Arial, sans-serif;

// Icon font family
$icon-font-name:                        "pamicons";

// Font size variants
$theme-font-size-base:                  14px !default;
$theme-font-size-xs:                    ceil(($theme-font-size-base * .8)) !default;
$theme-font-size-xxs:                   ceil(($theme-font-size-base * .7)) !default;
$theme-font-size-sm:                    ceil(($theme-font-size-base * .9)) !default;
$theme-font-size-md:                    18px !default;
$theme-font-size-lg:                    ceil(($theme-font-size-base * 1.56)) !default;
$theme-font-size-xl:                    ceil(($theme-font-size-base * 2)) !default;
$theme-font-size-xxl:                   ceil(($theme-font-size-base * 2.3)) !default;

// Text font line height
$theme-line-height-base:                1.428571429 !default;
$theme-line-height-sm:                	1 !default;

// Font weights
$theme-font-weight-normal:              400 !default;
$theme-font-weight-semibold:            500 !default;
$theme-font-weight-bold:                700 !default;



$incident-priority-class-name: incident-priority;

// Spacers
$spacer-none:  0;
$spacer-xxs:   2px;
$spacer-xs:    4px;
$spacer-sm:    8px;
$spacer-base:  16px;
$spacer-md:    24px;
$spacer-lg:    32px;
$spacer-xl:    48px;
$spacer-xxl:   64px;


$spacer-size-list: (
    xxs:    $spacer-xxs,
    xs:     $spacer-xs,
    sm:     $spacer-sm,
    base:   $spacer-base,
    md:     $spacer-md,
    lg:     $spacer-lg,
    xl:     $spacer-xl,
    none:   0
);

$spacer-sides: top right bottom left;
$box-boundary-list: (
    in: padding,
    out: margin
);


// Brand Logo
$logo-app-product: "/assets/images/logo-product.png";


// Responsive breakpoints
$breakpoint-sm: 767px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;
