
<div class="footer-section">
    <div class="footer">
        <div class="container row">
            <div class="col-sm-4 footer-one">
                <div class="foot-logo">
                    <img src="#" alt="LogoNotFound">
                </div>

                <p>
                  Order managements Service will amke u easy to handlle your orders and many other feature we are providing
                </p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/"><i id="social-fb"
                            class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="https://plus.google.com/"><i id="social-gp"
                            class="fa fa-google-plus-square fa-3x social"></i></a>
                    <a href="mailto:rk.ranjan96@gmail.com"><i id="social-em"
                            class="fa fa-envelope-square fa-3x social"></i></a>
                </div>
            </div>
            <div class="col-sm-2 footer-two">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="#"> About Us</a> </li>
                    <li><a href="#"> Our News</a> </li>
                    <li><a href="#"> Our Services</a> </li>
                    <li><a href="#"> Contact Us</a> </li>
                </ul>

            </div>
            <div class="col-sm-2 footer-three">
                <h5>Services</h5>
                <ul>
                    <li><a href="#"> About Us</a> </li>
                    <li><a href="#"> Our News</a> </li>
                    <li><a href="#"> Our Services</a> </li>
                    <li><a href="#"> Contact Us</a> </li>
                </ul>

            </div>
            <div class="col-sm-4 footer-four">
                <h5>Contact Us</h5>
                <img src="#" alt="noImg">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="copyright-text">
                    <p>CopyRight © 2020 All Rights Reserved</p>
                </div>
            </div> <!-- End Col -->
            <div class="col-sm-6  ">
                <div class="copyright-text pull-right">
                    <p> <a href="#">Home</a> | <a href="#">Privacy</a> |<a href="#">Terms & Conditions</a> | <a
                            href="#">Refund Policy</a> </p>
                </div>

            </div> <!-- End Col -->
        </div>
    </div>
</div>