.d-flex {
    margin: 0px;
}
.text-normal {
    padding-top: 0px;
    color: white;
    padding-bottom: 0px;
    letter-spacing: 1px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.text-bold{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}